.App {                
  height: 100%;
  overflow: hidden;
  border: 1px solid rgb(9, 9, 66);
  background-color: rgb(202, 202, 247);
  display: grid;
  grid-template-areas: "header"
                        "map"
                        "footer";
  grid-template-rows: 13vh 77vh 10vh;  
}

.map_component {
  grid-template: "map"
}

Header {
  grid-template: "header"
}

Footer {
  grid-template: "footer"
}